@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Http.Extensions

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
}

<div class="input-field col s12">
    <form id="selectLanguage" asp-controller="Home" asp-area=""
          asp-action="SetLanguage" asp-route-returnUrl="@Context.Request.Path@Context.Request.QueryString"
          method="post"  role="form">
         <select name="culture" asp-for="@requestCulture.RequestCulture.UICulture.Name" asp-items="cultureItems"></select><label>@Localizer["Language:"]</label>
        <button class="btn waves-effect waves-light" type="submit" name="action">Save</button>
    </form>
    @Localizer["Request culture provider:"] @requestCulture?.Provider?.GetType().Name
</div>
